#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 6.4rem;

  & .main-container {
    margin-left: auto;
    max-width: 52.8rem ;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 2.4rem;
  }

  & h1 {
    font: 600 2.4rem/1.25 var(--font-family);
    margin-bottom: 2.4rem;
  }
}

aside {
  padding: 6.4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    margin-right: auto;
    max-width: 49.6rem;

    & > img {
      margin-top: 3.2rem;
    }
  }

  & h2 {
    font: 600 4rem/1.25 var(--font-family);
    margin-bottom: 2.4rem;

    & span {
      color: var(--text-highlight);
    }
  }
}